# build output
build/
dist/

# generated types
/.astro
/.next
/.svelte-kit
/.vercel
/.wrangler

# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# OS specific files
.DS_Store

# Private folders
.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
